footer{
  background:#000;
  font-family: $helveticaFont;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 30px;
  padding:50px 0;
  font-weight:normal;

  label{
    font-weight:bold;
    display:block;
  }

  ul{
    margin-top:10px;
  }

  .container{
    max-width:1660px;
    width:100%;
    margin:0 auto;
    position:relative;
    padding:0 30px;
  }

  a{
    transition: 400ms all ease-in-out;
    &:hover{
      color:$yellow;
    }
  }
}
