.box-section{
  background:$yellow;
  padding-top:80px;
  padding-bottom:70px;

  .box{
    background: #FFFFFF;
    padding:40px 35px;

    .img-container{
      height:170px;
      align-items: center;
      display:flex;
      margin-bottom:20px;
    }

    .text{
      font-weight:normal;
      font-size: 32px;
      color: #000000;
      letter-spacing: 0;
      line-height: 44px;
      margin-bottom:35px;
    }
  }
}
